.visitor-registration {
  width: 100%;
  background-color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .col {
    display: flex;
    flex-basis: 100%;
    &-fix {
      height: 56px;
    }
  }
}

.btn-submit {
  margin: 40px;
}

// fix style
.weui-cells_checkbox .weui-icon-checked:before {
  content: '\EA01';
  color: #c9c9c9;
}

.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
  content: '\EA06';
  color: #619aec;
}

.textarea-fix {
  margin-right: 10px;
  width: 80%;
}

.at-list__item-fix {
  padding: 0;
  min-width: 375px;
  min-height: 52px;
  .at-list__item-container {
    .at-list__item-content {
      display: none;
    }
  }
  &::after {
    border: none;
  }
}

.at-list__item .item-extra__info {
  color: #000;
}

.at-list__item-extra {
  max-width: 575px;
}

.at-list::after {
  border: none;
}

.input-placeholder-fix {
  position: relative;
  top: -15px;
  color: #333;
  opacity: 0.6;
  font-size: 34px;
}

input::placeholder {
  color: #333;
  opacity: 0.6;
}

textarea::placeholder {
  color: #333;
  opacity: 0.6;
}

.at-input__title {
  text-align: right;
  padding-right: 20px;
}

.taro-textarea {
  font-size: 33px;
}
